<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            margin-top: 50px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>URL Shortner</h1>
    <% if(locals.id) {%>
        <p>URl Generated : http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <label>Enter your Original URL</label>
            <input type="text" name="url" placeholder="https://example.com" />
            <button type="submit" >Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
         <table>
            <thead>
                <th>S. No</th>
                <th>ShortID</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach((url, index)=> { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectUrl %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                <% }) %>
            </tbody>
         </table>
        <% } %>
    </div>
</body>

</html>